
.titulo {
  text-align: center;
  font-size: 70px;
  padding: 30px;
}

.biografia {
  padding: 40px 50px 10px 100px;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imgprincipal {
  border-radius: 70px 130px;
  width: 900px;
}

.principal {
	padding: 20px;
  display: inline-block;
  background-color: rgb(112, 111, 111);
}

